[submodule "backend/themes/freemind"]
	path = backend/themes/freemind
	url = https://github.com/wzpan/hexo-theme-freemind.git
[submodule "backend/themes/hexo-themes-freemind"]
	path = backend/themes/hexo-themes-freemind
	url = https://github.com/wzpan/hexo-theme-freemind.git
